<div class="container">

<br>
<p >I am so clever that sometimes I don't understand a single word of what I am saying.
― Oscar Wilde</p>

<p class="card p1">“To be yourself in a world that is constantly trying to make you something else is the greatest accomplishment.”
  ― Ralph Waldo Emerson.</p>

  <button class="btn btn-danger"  >Delete </button>


</div>


  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  <p>
      <li *ngFor="let quote of quotes; let i = index">
          <strong>{{quote.name}}</strong>.{{quote.publisher}}.<strong>"{{quote.quote}}".</strong> {{quote.date |date}}
          <app-quote-details [quote]='quote'  ></app-quote-details>

        </li>

    </p>
  