<div class="container">
  <div class="row">
      <form (ngSubmit) = 'submitQuote()' #quoteForm='ngForm'> 
          <div class="form-group">

              <label for="name">Name</label>
              <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>

          </div>

          <div class="form-group">

            <label for="name">Author</label>
            <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.publisher" name="publisher" #publisher="ngModel" required>

        </div>

          <div class="form-group">

              <label for="Quote">Quote</label>
              <textarea class="form-control" id="Quote" rows="2" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" required></textarea>
              
          </div>
          <br>
  <button type="Submit" class="btn btn-success btn-lg">Add Quote</button>
  <br>
  <br>

      </form>
  </div>
</div>